<div ng-controller="Our.Umbraco.LocalizedEditorModels.DashboardController">
    <h3>Localized Editor Models</h3>
    <h4>Configuration</h4>
    <table class="table table-bordered" ng-if="config">
        <tr>
            <th class="span6">Enabled</th>
            <td class="span6">{{ config.IsEnabled ? "Yes" : "No" }}</td>
        </tr>
        <tr>
            <th class="span6">Property Description Format</th>
            <td class="span6">{{ config.PropertyDescriptionFormat }}</td>
        </tr>
    </table>
    <div class="well text-center" ng-if="!config">Unable to load configuration.</div>
</div>